volumes/node-red/flows.json
[{"id":"9bff0843.525ed8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"89e0d4c3.dd5218","type":"Stackhero-MySQL-Server","name":"","host":"172.20.0.2","port":"3306","tls":false,"database":"collector"},{"id":"f56e9b7b.5a86e","type":"mqtt-broker","name":"","broker":"172.20.0.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ef5f38e5.f1eb68","type":"inject","z":"9bff0843.525ed8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"temp_in\":10}","payloadType":"json","x":150,"y":140,"wires":[["a67dd01f.28761"]]},{"id":"86a56fff.fd11d8","type":"debug","z":"9bff0843.525ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":260,"wires":[]},{"id":"aa03b7a9.435998","type":"function","z":"9bff0843.525ed8","name":"","func":"\nmsg.topic = \"INSERT INTO `measurements` (`temp_in`) VALUES (:temp_in);\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":320,"wires":[["b23e4b36.f9142"]]},{"id":"b23e4b36.f9142","type":"Stackhero-MySQL","z":"9bff0843.525ed8","server":"89e0d4c3.dd5218","name":"","x":900,"y":360,"wires":[["86a56fff.fd11d8"]]},{"id":"6c8a0b6a.e8a01c","type":"mqtt in","z":"9bff0843.525ed8","name":"","topic":"YourTopic","qos":"2","datatype":"auto","broker":"f56e9b7b.5a86e","x":480,"y":160,"wires":[["9c7043df.8f1e"]]},{"id":"a67dd01f.28761","type":"mqtt out","z":"9bff0843.525ed8","name":"","topic":"YourTopic","qos":"","retain":"","broker":"f56e9b7b.5a86e","x":320,"y":220,"wires":[]},{"id":"9c7043df.8f1e","type":"json","z":"9bff0843.525ed8","name":"","property":"payload","action":"","pretty":false,"x":610,"y":240,"wires":[["aa03b7a9.435998"]]}]